<div id="wrapper">
    <header></header>
    <!-- Page Content -->
    <div id="fh5co-main">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
				    <div class="centerize">
                        <h1>{{vm.content}}</h1>
                    </div>
                    <div class="col-md-6">
						<div class="form-group">
							<input type="email"
							       class="form-control"
							       placeholder="First name">
						</div>
					</div>
                    <div class="col-md-6">
						<div class="form-group">
							<input type="password"
							       name="password"
							       class="form-control"
							       placeholder="Last name">
						</div>
					</div>
                    <br>
                    <div class="col-md-6">
						<div class="form-group">
							<input type="email"
							       class="form-control"
							       placeholder="Email">
						</div>
					</div>
                    <div class="col-md-6">
						<div class="form-group">
							<input type="password"
							       name="password"
							       class="form-control"
							       placeholder="Password">
						</div>
					</div>
					<br>
					<div class="col-md-12">
						<div class="form-group">
							<input type="password"
							       name="password"
							       class="form-control"
							       placeholder="Confirm Password">
						</div>
					</div>
					<br>
					<div class="centerize">
                        <br>
                        <a style="color: black; text-decoration: none;" href="/profile">
                            <button type="button"
                                    class="btn btn-sm btn-default btn-link mybutton"
                                    id="menu-toggle"
                                    ng-model="vm.toggle"
                                    ng-click="vm.toggle=!vm.toggle">Sign up!</button>
                        </a>
                    </div>
                </div>
            </div>
            <footer></footer>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
