<div id="wrapper">
    <header></header>
    <!-- Page Content -->
    <div id="fh5co-main">
        <div class="container">
			<div class="row">
				<div class="col-md-12">
                    <h1>{{vm.content}}</h1>
                    <p>This application compares nearby gas stations and allows you to see the prices for gas. It will also allow you to plan out trips and the most cost-efficient speeds at which to travel.</p>
                </div>
            </div>
            <footer></footer>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!--
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <p>This application compares nearby gas stations and allows you to see the prices for gas. It will also allow you to plan out trips and most cost-efficient speeds at which to travel.</p>
                    
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
            <br>
            
            <!-- http://stackoverflow.com/questions/30127442/google-maps-doesnt-work-in-angular-directive 
            <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'></ui-gmap-google-map>

            <!--<button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>--
            <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="" ng-click="=!">Toggle Menu</button>-->
            
            <!--<footer-generic></footer-generic>
        </div>
    </div>
